{% extends "owid/base_boot4_covid.html" %}
{% block content %}
    {% load index %}
    {% load static %}
    {% static "owid/" as static_base %}

    <div class="container-fluid" style="margin-top:50px;">
        <div class="btn-group">
            <div class="mr-2">
                <form action="{% url 'owid:country' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" class="form-control" name="location" value="{{ location }}">
                    <button type="submit" class="btn btn-outline-light btn-sm" onclick="$('#loading1').show();">
                        <span class="fas fa-chevron-left"></span>
                        &nbsp; {{ back_btn }}
                    </button>
                </form>
            </div>
            <div class="text-white ml-5 mr-5 mb-5" style="font-size: 18pt;text-align: center;">
                {{ title }}
            </div>
            <div class="bordershadow-white mr-5" style="text-align: left;">
                <img src="{{ static_base }}{{ flag }}" alt="flag" style="width:50px; border:1px;">
            </div>
        </div>

        <div class="btn-group btn-group-sm pull-right mr-2">
            <form action="{% url 'owid:charts_bar_newcases_country' %}" method="post">
                {% csrf_token %}
                <input type="hidden" class="form-control" name="location" value="{{ location }}">
                <button type="submit" class="btn btn-danger btn-sm mr-2">
                    {{ new_cases }}&nbsp;
                    <span class="fas fa-chart-bar  ml-2 mr-2"></span>
                </button>
            </form>
            <form action="{% url 'owid:charts_bar_totalcases_country' %}" method="post">
                {% csrf_token %}
                <input type="hidden" class="form-control" name="location" value="{{ location }}">
                <button type="submit" class="btn btn-danger btn-sm mr-2">
                    {{ total_cases }}&nbsp;
                    <span class="fas fa-chart-bar  ml-2 mr-2"></span>
                </button>
            </form>
            <form action="{% url 'owid:charts_bar_newdeaths_country' %}" method="post">
                {% csrf_token %}
                <input type="hidden" class="form-control" name="location" value="{{ location }}">
                <button type="submit" class="btn btn-dark btn-sm mr-2">
                    {{ new_deaths }}&nbsp;
                    <span class="fas fa-chart-bar  ml-2 mr-2"></span>
                </button>
            </form>
            <form action="{% url 'owid:charts_bar_totaldeaths_country' %}" method="post">
                {% csrf_token %}
                <input type="hidden" class="form-control" name="location" value="{{ location }}">
                <button type="submit" class="btn btn-dark btn-sm mr-2">
                    {{ total_deaths }}&nbsp;
                    <span class="fas fa-chart-bar  ml-2 mr-2"></span>
                </button>
            </form>

        </div>


        <div class="#row" style="background-color:transparent;">


            <div style="text-align: center;">
                <canvas id="chart" width="1000" height="400"></canvas>
                <script>
                    var ctx = document.getElementById('chart').getContext('2d');
                    var chart_uk_new_cases = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [
                                {% for item in countries.0.labels %}
                                    "{{ item }}",
                                {% endfor %}
                            ],
                            datasets: [
                                {% for c in countries %}
                                    {
                                    data: [
                                        {% for item in c.values %}
                                            "{{ item }}",
                                        {% endfor %}
                                    ],
                                    label: "{{ c.label }}",
                                    backgroundColor: "{{ back_colours|index:forloop.counter0  }}",
                                    borderColor: "{{ border_colours|index:forloop.counter0 }}",
                                    borderWidth: 2,
                                    pointBorderWidth: 0,
                                    pointRadius: 1,
                                    pointHoverRadius: 10,
                                    fill: false
                                    },
                                {% endfor %}
                            ]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    gridLines: {
                                        color: "rgba(255, 255, 255, 0.15)",
                                        zeroLineColor: "rgba(255, 255, 255, 0.5)",
                                    },
                                    ticks: {
                                        fontColor: "rgba(255, 255, 255, 0.8)",
                                    }
                                }],
                                yAxes: [{
                                    gridLines: {
                                        color: "rgba(255, 255, 255, 0.15)",
                                        zeroLineColor: "rgba(255, 255, 255, 0.5)",
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        fontColor: "rgba(255, 255, 255, 0.8)",
                                    }
                                }]

                            },
                            legend: {
                                display: false,
                                labels: {
                                    fontColor: 'rgb(255, 255, 255)'
                                }
                            },
                            title: {
                                display: false,
                                text: '{{ title }}'
                            }
                        }
                    });
                </script>

            </div>
        </div>
        <div class="#row">
            <br><br>
            <p class="text-secondary small">data provided by: ourworldindata.org</p>
            <br>
            <img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="hits">
        </div>
    </div>

{% endblock %}