{% extends "owid/base_boot4_covid.html" %}
{% block content %}
    {% load static %}
    {% static "owid/" as static_base %}
    {% load humanize %}
    <div class="container-flex container-wrapper scroll-hidden">
        <!-- width: 100% !important;background-image: url('{{ static_base }}{{ background_pattern5 }}');-->
        <div class="sticky-top pt-4"
             style="background-image: url('{{ static_base }}{{ background_pattern3 }}');">
            <div class="row ml-5">
                <div class="col-lg-9">
                    <div class="media  p-2" style="background-color:transparent;">
                        <div class="media-body mr-3">
                            <h1 class="display-4 text-white">{{ location }}</h1>
                            <h4 class="ml-1" style="color:gray"><small>
                                {% if country.location ==  'World' %}
                                    {{ milky_way }}
                                {% endif %}
                                {% if country.location !=  'World' %}
                                    {{ country.continent }}
                                {% endif %}
                            </small></h4>
                        </div>
                        <div class="bordershadow-white ml-5 mt-3 mr-5">
                            <img src="{{ static_base }}{{ flag }}" alt="flag"
                                 style="height:52px">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mt-3" style="max-width:70%;">
                        <form action="{% url 'owid:country' %}" method="post">
                            {% csrf_token %}
                            <div class="mt-2">
                                <label for="country">{{ btn_country }}</label>
                            </div>
                            <select class="form-control" id="country" name="location"
                                    style="background-color:transparent;color:lightgray">
                                {% for loc in locations %}
                                    {% if loc == location %}
                                        <option selected="{{ loc }}"
                                                style="background-color:black;color:lightgray">{{ loc }}</option>
                                    {% endif %}
                                    {% if loc != location %}
                                        <option style="background-color:black;color:lightgray">{{ loc }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
            <hr>

        </div>
        <div class="row ml-5">
            <div class="col-lg-9" style="background-color:transparent; color: aqua;">
                <div class="d-flex flex-column mt-2 ml-2">
                    <div class="table-wrapper scroll-hidden">
                        <div class="table-responsive table-borderless table-dark table-hover"
                             style="background: transparent;  color: aqua">
                            <table class="table" style="background: transparent;  color: aqua;">

                                <thead>
                                <tr>
                                    <th style="width:25%;"></th>
                                    <th style="width:25%;"></th>
                                    <th style="width:50%;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ population }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.population ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.population|floatformat:"0"|intcomma }}
                                            <small class="ml-2" style="opacity:70%;"></small>
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ population_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ population_density }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.population_density ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.population_density|floatformat:"1" }}
                                            <small class="ml-2" style="opacity:70%;">{{ ppl }} {{ km }}<sup>{{ sq }}</sup></small>
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ population_density_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ median_age }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.median_age ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.median_age|floatformat:"1" }}
                                            <small class="ml-2" style="opacity:70%;"> {{ years }}</small>
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ median_age_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ aged_65_older }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.aged_65_older ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.aged_65_older|floatformat:"1" }}
                                            <small class="ml-1" style="opacity:70%;"> {{ percent }}</small>
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ aged_65_older_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ aged_70_older }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.aged_70_older ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.aged_70_older|floatformat:"1" }}
                                            <small class="ml-1" style="opacity:70%;"> {{ percent }}</small>
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ aged_70_older_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ gdp_per_capita }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.gdp_per_capita ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            <span class="mr-1" style="opacity:70%;"> {{ dollars }}</span>
                                            {{ country.gdp_per_capita|floatformat:"0"|intcomma }}
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ gdp_per_capita_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ cardiovasc_death_rate }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.cardiovasc_death_rate ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.cardiovasc_death_rate|floatformat:"0" }}
                                            <small class="ml-2" style="opacity:70%;"> {{ per_100_000 }}</small>
                                        {% endif %}
                                    </td>
                                    <td class="g-transparent text-light font-weight-lighter small">
                                        {{ cardiovasc_death_rate_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ diabetes_prevalence }}:</td>
                                    <td class="bg-ltransparentight" style="font-family: 'Lucida Console';">
                                        {% if country.diabetes_prevalence ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.diabetes_prevalence|floatformat:"1" }}
                                            <small class="ml-1" style="opacity:70%;"> {{ percent }}</small>
                                        {% endif %}
                                    </td>
                                    <td class="px-3 bg-litransparentght text-light font-weight-lighter small">
                                        {{ diabetes_prevalence_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ handwashing_facilities }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.handwashing_facilities ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.handwashing_facilities|floatformat:"1" }}
                                            <small class="ml-1" style="opacity:70%;"> {{ percent }}</small>
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ handwashing_facilities_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ hospital_beds_per_thousand }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.hospital_beds_per_thousand ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.hospital_beds_per_thousand|floatformat:"1" }}
                                            <small class="ml-2" style="opacity:70%;"> {{ per_1000 }}</small>
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ hospital_beds_per_thousand_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ life_expectancy }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.life_expectancy ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.life_expectancy|floatformat:"1" }}
                                            <small class="ml-2" style="opacity:70%;"> {{ years }}</small>
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ life_expectancy_desc }}</td>
                                </tr>
                                <tr>
                                    <td class="bg-transparent text-white font-weight-lighter">{{ human_development_index }}:</td>
                                    <td class="bg-transparent" style="font-family: 'Lucida Console';">
                                        {% if country.human_development_index ==  -1 %}
                                            <small style="opacity:70%;"> {{ no_data }}</small>
                                        {% else %}
                                            {{ country.human_development_index }}
                                            <small class="ml-1" style="opacity:70%;"></small>
                                        {% endif %}
                                    </td>
                                    <td class="bg-transparent text-light font-weight-lighter small">
                                        {{ human_development_index_desc }}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="background-color:transparent;">

                <h4 class="text-secondary pull-left mt-4 mb-4"><small>{{ side_txt1 }}</small></h4>
                <br>
                <form action="{% url 'owid:charts_bar_newcases_country' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" name="location" value="{{ location }}">
                        <input type="submit" class="btn btn-outline-warning" style="min-width:70%;"
                               value="{{ new_cases }}"
                               onclick="$('#loading1').show().delay(10000).hide(0);">
                        <div class="input-group-append ml-3">
                            <span id="loading1" class="spinner-grow spinner-grow-sm  text-warning ml-2 mt-2"
                                  style="display:none;opacity:50%"></span>
                        </div>
                    </div>
                </form>

                <form action="{% url 'owid:charts_bar_totalcases_country' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" name="location" value="{{ location }}">
                        <input type="submit" class="btn btn-outline-warning" style="min-width:70%;"
                               value="{{ total_cases }}"
                               onclick="$('#loading2').show().delay(10000).hide(0);">
                        <div class="input-group-append ml-3">
                            <span id="loading2" class="spinner-grow spinner-grow-sm  text-warning ml-2 mt-2"
                                  style="display:none;opacity:50%"></span>
                        </div>
                    </div>
                </form>

                <form action="{% url 'owid:charts_bar_newdeaths_country' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" name="location" value="{{ location }}">
                        <input type="submit" class="btn btn-outline-danger" style="min-width:70%;"
                               value="{{ new_deaths }}"
                               onclick="$('#loading3').show().delay(10000).hide(0);">
                        <div class="input-group-append ml-3">
                            <span id="loading3" class="spinner-grow spinner-grow-sm  text-danger ml-2 mt-2"
                                  style="display:none;opacity:50%"></span>
                        </div>
                    </div>
                </form>

                <form action="{% url 'owid:charts_bar_totaldeaths_country' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" name="location" value="{{ location }}">
                        <input type="submit" class="btn btn-outline-danger" style="min-width:70%;"
                               value="{{ total_deaths }}"
                               onclick="$('#loading4').show().delay(10000).hide(0);">
                        <div class="input-group-append ml-3">
                            <span id="loading4" class="spinner-grow spinner-grow-sm  text-danger ml-2 mt-2"
                                  style="display:none;opacity:50%"></span>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="ml-4 mt-5 mb-5">
            <a href="{% url 'owid:covid' %}" role="button" class="btn btn-outline-light btn-sm">
                <span class="fas fa-chevron-left"></span>
                &nbsp; back to country selection
            </a>
        </div>

    </div>


    <script>
        $(function () {
            $('#country').change(function () {
                this.form.submit();
            });
        });
    </script>

{% endblock %}

