{% extends "owid/base_boot4_covid.html" %}
{% block content %}
    {% load static %}
    {% static "owid/" as static_base %}
    {% load humanize %}
    <script>
        $(window).bind('beforeunload',function(){
            alert("unload event detected!");
        });
    </script>

    <div class="container-fluid" xmlns:text-decoration="http://www.w3.org/1999/xhtml">
        <div class="row my-auto mx-auto">
            <div class="col-lg-4 text-center text-warning">
                <div class="text-info mt-1 pt-3">
                    <marquee behavior="scroll" direction="left"> this is work in progress...</marquee>
                    <!--<div class="scroll-left"><p> this is work in progress...</p></div>-->
                </div>
                <h1 class="display-3 mt-5 mb-4">{{ title }}</h1>
                <h4><small>{{ subtitle }}</small></h4>
                <pre><span>{{ data_supply }}</span><span><abbr title="Our World In Data">OWID</abbr></span></pre>
                <a href="{% url 'owid:world' %}" title="go to the world page"
                   style="background-color:#000001;color:#ffffff;text-decoration:none">
                    <img class="mx-auto d-block img-fluid p-5" src="{{ static_base }}{{ image_coronavirus }}"
                         alt="world_image"
                         style="width:100%">
                </a>
                <div class="mt-5 pull-left">
                    <a href="{% url 'owid:tasks_owid' %}"
                       style="background: transparent; color:#444444; text-decoration: none">
                        cosik ukryte
                    </a>
                </div>
            </div>


            <div class="col-lg-8">
                <div class="d-flex justify-content-end">
                    <div class="pt-3 pb-3">
                        <span class="text-white py-4" style="opacity: 40%;">{{ info }}</span>
                        <span class="text-white py-4 px-3" style="opacity: 80%;">{{ date }}</span>
                    </div>
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item w-16">
                        <a class="nav-link active" href="#world" data-toggle="tab">
                            <h4 class=" text-secondary font-weight-light">{{ the_world }}</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#europe" data-toggle="tab">
                            <h4 class=" text-secondary font-weight-light">{{ europe }}</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#asia" data-toggle="tab">
                            <h4 class=" text-secondary font-weight-light">{{ asia }}</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#africa" data-toggle="tab">
                            <h4 class=" text-secondary font-weight-light">{{ africa }}</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#north_america" data-toggle="tab">
                            <h4 class=" text-secondary font-weight-light">{{ north_america }}</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#south_america" data-toggle="tab">
                            <h4 class=" text-secondary font-weight-light">{{ south_america }}</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#oceania" data-toggle="tab">
                            <h4 class=" text-secondary font-weight-light">{{ oceania }}</h4>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in show active" id="world">
                        <div class="table-responsive-sm">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                <tr class="text-left">
                                    <th class=" text-info font-weight-lighter px-3 w-25">{{ new_cases }} </th>
                                    <th class=" text-info font-weight-lighter px-3 w-30">{{ total_cases }} </th>
                                    <th class=" text-info font-weight-lighter px-3 w-20">{{ new_deaths }} </th>
                                    <th class=" text-info font-weight-lighter px-3 w-25">{{ total_deaths }} </th>
                                </tr>
                                <tr class="text-left" style="font-family: 'Lucida Console';">
                                    <td class=" w-25">
                                        <h3 class=" text-warning font-weight-light px-2">{{ data_world.new_cases|floatformat:"0"|intcomma }}</h3>
                                    </td>
                                    <td class=" w-30">
                                        <h3 class=" text-warning px-2">{{ data_world.total_cases|floatformat:"0"|intcomma }}</h3>
                                    </td>
                                    <td class=" w-20">
                                        <h3 class=" text-danger font-weight-light px-2">{{ data_world.new_deaths|floatformat:"0"|intcomma }}</h3>
                                    </td>
                                    <td class=" w-25">
                                        <h3 class=" text-danger px-2">{{ data_world.total_deaths|floatformat:"0"|intcomma }}</h3>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% for data in data_rest %}
                        <div class="tab-pane fade in" id="{{ data.0 }}">
                            <div class="table-responsive-sm">
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                    <tr class="text-left">
                                        <th class=" text-info font-weight-lighter px-3 w-25">{{ new_cases }} </th>
                                        <th class=" text-info font-weight-lighter px-3 w-30">{{ total_cases }} </th>
                                        <th class=" text-info font-weight-lighter px-3 w-20">{{ new_deaths }} </th>
                                        <th class=" text-info font-weight-lighter px-3 w-25">{{ total_deaths }} </th>
                                    </tr>
                                    <tr class="text-left" style="font-family: 'Lucida Console';">
                                        <td class=" w-25">
                                            <h3 class=" text-warning font-weight-light px-2">{{ data.1|floatformat:"0"|intcomma }}</h3>
                                        </td>
                                        <td class=" w-30"><h3
                                                class=" text-warning px-2">{{ data.2|floatformat:"0"|intcomma }}</h3>
                                        </td>
                                        <td class=" w-20">
                                            <h3 class=" text-danger font-weight-light px-2">{{ data.3|floatformat:"0"|intcomma }}</h3>
                                        </td>
                                        <td class=" w-25"><h3
                                                class=" text-danger px-2">{{ data.4|floatformat:"0"|intcomma }}</h3>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                <div class="bordershadow-white">
                    <div class="card py-2 mt-4"
                         style="background: transparent;color:beige;border-left: 2px solid orange">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="d-flex">
                                        <h4 class="font-weight-light">
                                            <a href="{% url 'owid:numbers' %}" class="text-white stretched-link"
                                               style="text-decoration: none;"
                                               onclick="$('#loader2').show().delay(20000).hide(0);">
                                                {{ see_all_countries }}
                                            </a>
                                        </h4>
                                        <div class="pl-5 flex-grow-1">
                                            <span id="loader2" class="loader2" style="display:none;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="bordershadow-white">
                    <div class="card py-2 mt-5"
                         style="background: transparent;color:beige;border-left: 2px solid orange">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h4 class="font-weight-light">{{ country_card_title }}</h4>
                                </div>
                                <div class="col-lg-4">
                                    <div id="loading1"
                                         class="spinner-grow spinner-grow-sm text-warning mt-1 mr-2 pull-right"
                                         style="display:none;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--{% if error_message %}<p><strong>{{ error_message }}
                                            </strong></p>{% endif %}-->

                                    <form action="{% url 'owid:country' %}" method="post">
                                        {% csrf_token %}

                                        <div class="input-group">
                                            <div class="mr-3 mt-2">
                                                <label for="locations">{{ select_locations }}</label>
                                            </div>

                                            <select class="form-control" id="sel1" name="location"
                                                    style="height: calc(1.5em + .75rem + 4px); background-color:transparent; color:beige;">
                                                {% for location in locations %}
                                                    <option style="background-color:black;color:beige">{{ location }}</option>
                                                {% endfor %}
                                            </select>

                                            <div class="input-group-append">
                                                <input type="submit" class="btn btn-outline-warning"
                                                       value="{{ btn_countries }}"
                                                       onclick="$('#loading1').show().delay(10000).hide(0);">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bordershadow-white">
                    <div class="card py-2 mt-5"
                         style="background: transparent;color:beige;border-left: 2px solid orange">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h4 class="font-weight-light">Multiple-country group charts</h4>
                                </div>
                                <div class="col-lg-4">
                                    <div id="loading2"
                                         class="spinner-grow spinner-grow-sm text-warning mt-1 mr-2 pull-right"
                                         style="display:none;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="{% url 'owid:countries' %}" method="post" id="countries">
                                        {% csrf_token %}

                                        <div class="input-group mr-3 mt-1 mb-5">
                                            <div class="mr-4 mt-1">
                                                <label id="msgdate" for="datefilter">Select date range </label>
                                            </div>
                                            <div class="ml-4" style="width:50%; padding-left: 12px;">
                                                <input id="datesel2" type="text" name="datefilter" value=""
                                                       class="bg-transparent"
                                                       style="width:100%; color:white; opacity: 80%;
                                                           padding-bottom: 7px; padding-top: 5px; padding-left: 12px;
                                                           border-width: 1px; border-style: solid;
                                                           border-color: aliceblue; border-radius: 1px;"/>
                                            </div>
                                            <div class="ml-5 mt-1">
                                                <label>(optional)</label>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <div class="mr-3 mt-2">
                                                <label id="msg" for="locations">Select up to 5 countries</label>
                                            </div>

                                            <select class="selectpicker form-control"
                                                    multiple required
                                                    data-live-search="true"
                                                    data-min-options="2"
                                                    data-max-options="5"
                                                    multiple title="Select up to 5 countries..."
                                                    multiple data-selected-text-format="value"
                                                    id="sel2" name="locations">
                                                {% for location in locations %}
                                                    <option style="background-color:black;color:beige">{{ location }}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <div class="input-group-append">
                                                <input type="submit" class="btn btn-outline-warning"
                                                       value="{{ btn_countries }}"
                                                       onclick="if ($('#sel2').is(':empty')) {$('#loading2').show().delay(3000).hide(0);}">
                                            </div>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    </div>
    <script>
        $('select').selectpicker();
    </script>

    <script type="text/javascript">

        $('#datesel2').daterangepicker({});

        $(function () {

            $('input[name="datefilter"]').daterangepicker({
                drops: "up",
                autoApply: true,
                startDate: "2019-12-01",
                endDate: "2022-12-01",
                applyButtonClasses: "btn-outline-dark",
                locale: {
                    cancelLabel: 'Clear',
                    format: "YYYY-MM-DD",
                    separator: "  to  ",
                }
            });

        });
    </script>

    <script>
        function validateForm() {
            var e = document.getElementById("sel2");
            var strUser = e.value;
            if (e == "") {
                document.getElementById('loading2').style.display = 'none';
            }
        }
    </script>



{% endblock %}

