{% extends "owid/base_boot4_owid.html" %}
{% block content %}
    {% load static %}

    <div class="jumbotron text-center text-primary"
         style="background:transparent; margin-bottom:0;">
        <h3 class="textshadow-blue"
            style="color: white; font-family: Arial, Helvetica, sans-serif;  font-size: 4vw;">
            {{ owid_title }}</h3>
    </div>
    <div class="container-flexible">
        <div class="bordershadow-blue">
            <div class="card" style="background: transparent;">
                <div class="card-body text-dark py-4">
                    <div class="row align-items-center">
                        <div class="col-lg-5 text-white">
                            <h3 class="display-4 px-3">{{ covid_title }}</h3>
                            <p class="card-text px-3">{{ covid_subtitle }}</p>
                        </div>
                        <div class="col-lg-3">
                            <div class="py-4">
                                <img class="rounded px-5 d-block img-fluid"
                                     src="{{ static_base }}{{ image_coronavirus }}"
                                     alt="covid"
                                     style="background-color:transparent; max-height:150px; width: auto;">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'owid:covid' %}"
                               class="btn btn-outline-warning btn-block h-100 stretched-link my-auto"
                               style=" padding: 10% 0; ; text-align: center;
                           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);">
                                <h1><small>{{ covid_btn_txt }}</small></h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="bordershadow-blue">
            <div class="card" style="background: transparent;">
                <div class="card-body text-dark py-4">
                    <div class="row align-items-center">
                        <div class="col-lg-5 text-white">
                            <h3 class="display-4 px-3">{{ cia_title }}</h3>
                            <p class="card-text px-3">{{ cia_subtitle }}</p>
                        </div>
                        <div class="col-lg-3">
                            <div class="py-4">
                                <img class="rounded px-5 d-block img-fluid"
                                     src="{{ static_base }}{{ image_cia }}"
                                     alt="cia"
                                     style="background-color:transparent; max-height:150px; width: auto;">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'owid:cia' %}"
                               class="btn btn-outline-light btn-block h-100 stretched-link my-auto"
                               style=" padding: 10% 0; ; text-align: center;
                           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);">
                                <h1><small>coming soon...</small></h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </div>


{% endblock %}