{% extends "main/base_boot4_main.html" %}
{% block content %}
    {% load static %}
    {% static "main/" as static_base %}
    <div class="container text-lowercase" style="font-family:'Courier New';">
        <div class="center-screen">
            <h5 class="font-weight-bolder">{{ contact_txt_1 }}
                <span class="text-info mb-5">
                    {{ contact_txt_2 }}
                </span>
            </h5>
            <h5 class="mt-5 mb-5">{{ contact_txt_3 }}</h5>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock %}

