<!DOCTYPE html>
{% load static %}
{% static "main/" as static_base %}
<html lang="en">
<head>
    <title>ld99</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ static_base }}{{ style_css }}">
    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });
    </script>

    <style>
        #border-navitem-bottom {
            border-bottom: 1px solid #666666;
        }

        #border-navitem-left {
            border-left: 1px solid red;
        }

        .java-num:after {
            content: '6';
            color: white;
            float: right;
            margin-left: 5px;
        }
        .pyth-num:after {
            content: '2';
            color: white;
            float: right;
            margin-left: 5px;
        }
        .andro-num:after {
            content: '1';
            color: white;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2232";
            color: white;
        }

        .active, .accordion:hover {
            border-bottom: 1px solid gray !important;
        }

    </style>
</head>
<body>


<!-- Vertical navbar -->
<div class="vertical-nav bg-black scroll-hidden" id="sidebar"
     style="font-family:'Courier New';background-color: black !important;letter-spacing: 2px;">

    <div class="mt-5 mb-2">
        <a href="{% url 'main:index' %}" title="home" style="text-decoration:none">
            <img class="rounded mx-auto d-block img-fluid" src="{{ static_base }}{{ image_piotr }}"
                 alt="piotr" style="background-color:transparent; max-width:55%; height: auto;">
        </a>
    </div>
    <div class="py-3 px-3 mb-5">
        <a href="{% url 'main:index' %}" title="about" style="text-decoration:none">
            <div class="media-body text-lowercase text-center ">
                <h3 class="mb-2" style="color:yellow;">{{ intro1 }}</h3>
                <p class="mb-0 mt-2" style="color:yellow;"><small>{{ intro2 }}</small></p>
                <p class="mb-0 mt-2" style="color:yellow;"><small>{{ intro3 }}</small></p>
            </div>
        </a>
    </div>
    <div class="py-3">
        <a href="{% url 'main:index' %}" id="project-list">
            <p id="border-navitem-bottom" class="text-white text-uppercase  px-1 small py-1 ml-4 mr-4 mb-5">
                {{ home }}
            </p>
        </a>
    </div>
    <!--
        <code><a href="{% url 'main:index' %}" id="project-list">
            <pre class="mb-3 mt-3 font-weight-light text-center" style="color:white;">{{ intro4 }}</pre></a>
        </code>
        -->
    <div id="acc">
        <div class="panel list-group">

            <a href="#java" data-toggle="collapse" class="list-group-item"
               style="background: transparent; text-decoration: none;">
                <p id="border-navitem-bottom"
                   class="java-num accordion text-white text-uppercase py-1 px-1 ml-1 small mb-0">{{ nav_java_proj }}</p>
            </a>
            <div class="collapse" id="java" data-parent="#acc">
                <ul class="nav flex-column mt-2 mb-2">
                    <li class="nav-item small mb-1">
                        <a href="{% url 'main:enquiry' %}" class="text-white" id="project-list">
                            <i class="fab fa-java ml-4  text-white-50 fa-1x"></i>
                            {{ nav_java_proj1 }}
                        </a>
                    </li>
                    <li class="nav-item small mb-1">
                        <a href="{% url 'main:contacts' %}" class="text-white" id="project-list">
                            <i class="fab fa-java ml-4  text-white-50 fa-1x"></i>
                            {{ nav_java_proj2 }}
                        </a>
                    </li>
                    <li class="nav-item small mb-1">
                        <a href="{% url 'main:links' %}" class="text-white" id="project-list">
                            <i class="fab fa-java ml-4  text-white-50 fa-1x"></i>
                            {{ nav_java_proj3 }}
                        </a>
                    </li>
                    <li class="nav-item small mb-1" id="project-list">
                        <a href="{% url 'main:sncreader' %}" class="text-white" id="project-list">
                            <i class="fab fa-java ml-4  text-white-50 fa-1x"></i>
                            {{ nav_java_proj4 }}
                            <div class="text-right mr-4">{{ nav_java_proj4a }}
                            </div>
                        </a>

                    </li>
                    <li class="nav-item small mb-1">
                        <a href="{% url 'main:maptools' %}" class="text-white" id="project-list">
                            <i class="fab fa-java ml-4  text-white-50 fa-1x"></i>
                            {{ nav_java_proj5 }}
                        </a>
                    </li>
                    <li class="nav-item small mb-1">
                        <a href="{% url 'main:folderbackup' %}" class="text-white" id="project-list">
                            <i class="fab fa-java ml-4  text-white-50 fa-1x"></i>
                            {{ nav_java_proj6 }}
                        </a>
                    </li>
                    <li class="nav-item small mb-1">
                        <a href="{% url 'main:soon' %}" class="text-white-50" id="project-list">
                            <i class="fab fa-java ml-4  text-white-50 fa-1x"></i>
                            {{ nav_java_proj7 }}
                        </a>
                    </li>

                </ul>
            </div>
            <br>
            <a href="#python" data-toggle="collapse" class="list-group-item"
               style="background: transparent; text-decoration: none;">
                <p id="border-navitem-bottom"
                   class="pyth-num accordion text-white text-uppercase px-1 small py-1 ml-1 mb-0">{{ nav_python_proj }}</p>
            </a>
            <div class="collapse" id="python" data-parent="#acc">
                <ul class="nav flex-column  mt-2 mb-2">
                    <li class="nav-item small mb-1">
                        <a href="{% url 'main:coviduk' %}" id="project-list">
                            <i class="fab fa-python ml-4  text-white-50 fa-1x"></i>
                            {{ nav_python_proj1 }}
                        </a>
                    </li>
                    <li class="nav-item small mb-1">
                        <a href="{% url 'main:mowid' %}" id="project-list">
                            <i class="fab fa-python ml-4 text-white-50 fa-1x"></i>
                            {{ nav_python_proj2 }}
                        </a>
                    </li>
                </ul>
            </div>
            <br>
            <a href="#android" data-toggle="collapse" class="list-group-item"
               style="background: transparent; text-decoration: none;">
                <p id="border-navitem-bottom"
                   class="andro-num     accordion text-white text-uppercase px-1 small py-1 ml-1 mb-3">{{ nav_android_proj }}</p>
            </a>
            <div class="collapse" id="android" data-parent="#acc">
                <ul class="nav flex-column mt-2 mb-2">
                    <li class="nav-item small mb-1">
                        <a href="{% url 'main:maptoolsapp' %}" class="text-white" id="project-list">
                            <i class="fab fa-android ml-4 fa-1x text-white-50"></i>
                            {{ nav_android_proj1 }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <a href="{% url 'main:contact' %}" id="project-list">
            <p id="border-navitem-bottom" class="text-white text-uppercase  px-1 small py-1 ml-4 mr-4 mt-4 mb-4">
                {{ contact }}
            </p>
        </a>
    </div>
</div>

<!-- End vertical navbar -->

<!-- Page content holder -->
<div class="page-content px-5 py-3 bg-transparent" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button"
            class="btn btn-outline-dark btn-sm d-lg-none mb-3">
        <i class="fas fa-bars text-dark"></i>
    </button>
    <!-- content -->
    {% block content %}{% endblock %}
</div>
<!-- End content -->


</body>
</html>
