{% extends "main/base_boot4_main.html" %}
{% block content %}
    {% load static %}
    {% static "main/" as static_base %}
    <div class="container-flex" style="font-family:'Courier New';">
        <div class="row">
            <div class="col-lg-12" style="background-color:transparent;">

                <div class="card py-0">
                    <div class="card-body">
                        <a href="{% url 'main:owid' %}" style="text-decoration: none">
                        <h3 class="text-justify text-lowercase font-weight-bold"><small>{{ nav_python_proj2 }}</small></h3>
                        </a>
                        <p class="card-text text-lowercase">{{ python }}</p>
                    </div>
                </div>
                <br>
                <div class="card py-0">
                    <div class="card-body">
                        <a href="{% url 'main:index' %}" style="text-decoration: none">
                        <h3 class="text-justify font-weight-bold text-lowercase font-weight-bold">{{ nav_java_proj1 }}</h3>
                        </a>
                        <p class="card-text text-lowercase">{{ java }}</p>
                    </div>
                </div>
                <br>
                <div class="card py-0">
                    <div class="card-body">
                        <a href="{% url 'main:index' %}" style="text-decoration: none">
                        <h3 class="text-justify font-weight-bold text-lowercase font-weight-bold">{{ nav_java_proj2 }}</h3>
                        </a>
                        <p class="card-text">{{ a }}</p>
                    </div>
                </div>
                <br>
                <div class="card py-0">
                    <div class="card-body">
                        <a href="{% url 'main:index' %}" style="text-decoration: none">
                        <h3 class="text-justify font-weight-bold text-lowercase font-weight-bold">{{ nav_java_proj3 }}</h3>
                        </a>
                        <p class="card-text">{{ a }}</p>
                    </div>
                </div>
                <br>
                <div class="card py-0">
                    <div class="card-body">
                        <a href="{% url 'main:index' %}" style="text-decoration: none">
                        <h3 class="text-justify font-weight-bold text-lowercase font-weight-bold">{{ nav_java_proj4 }}</h3>
                        </a>
                        <p class="card-text">{{ a }}</p>
                    </div>
                </div>
                <br>
                <div class="card py-0">
                    <div class="card-body">
                        <a href="{% url 'main:index' %}" style="text-decoration: none">
                        <h3 class="text-justify font-weight-bold text-lowercase font-weight-bold">{{ nav_java_proj5 }}</h3>
                        </a>
                        <p class="card-text">{{ a }}</p>
                    </div>
                </div>
                <br>
                <div class="card py-0">
                    <div class="card-body">
                        <a href="{% url 'main:index' %}" style="text-decoration: none">
                        <h3 class="text-justify font-weight-bold text-lowercase font-weight-bold">{{ nav_java_proj6 }}</h3>
                        </a>
                        <p class="card-text">{{ a }}</p>
                    </div>
                </div>
                <br>
                <div class="card py-0">
                    <div class="card-body">
                        <a href="{% url 'main:index' %}" style="text-decoration: none">
                        <h3 class="text-justify font-weight-bold text-lowercase font-weight-bold">{{ nav_android_proj1 }}</h3>
                        </a>
                        <p class="card-text">{{ a }}</p>
                    </div>
                </div>
                <br>


            </div>

        </div>
    </div>


{% endblock %}

