{% extends "main/base_boot4_main.html" %}
{% block content %}
    {% load static %}
    {% static "main/" as static_base %}
    <div class="container" style="font-family:'Courier New';">
        <div class="row">
            <div class=" col-lg-10 mb-3">
                <a href="{% url 'main:index' %}" role="button" class="btn btn-outline-dark btn-sm">
                    <span class="fas fa-chevron-left"></span>
                    home
                </a>
                <div class="row mt-4">
                    <div class="col-lg-8" style="background-color:transparent;">
                        <a href="{{ app_link }}" target="_blank" style="text-decoration: none; color: inherit;">
                            <h3 class="text-justify font-weight-bold">{{ title }}</h3></a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-outline-dark btn-block text-lowercase float-right" target="_blank"
                           href="{{ app_link }}">
                            {{ app_btn_txt }}
                            <span class="fas fa-download  text-info float-right mr-2 mt-1"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-lg-2">
                <div class="float-center mt-4" style=" background-color:transparent;">
                    <a href="{{ app_link }}" target="_blank" title="go to the app page"
                       style="background-color:transparent;color:#000000;text-decoration:none">
                        <span class="fab fa-android fa-5x text-secondary float-right mr-2 mt-1"></span>
                    </a>
                </div>
            </div>
        </div>
        <code class="text-lowercase font-weight-bold">{{ in_short }}</code>
        <hr>
        <p class="py-1 px-4 mb-3">{{ in_short_txt }}</p>

        <code class="text-lowercase font-weight-bold">{{ app_tech }}</code>
        <hr>
        <p class="py-1 px-4 mb-3">{{ app_tech_txt }}</p>

        <code class="text-lowercase font-weight-bold">{{ code }}</code>
        <hr>
        <div class="d-flex flex-column">
            <div class=" px-4 mt-2 mb-3">
                <a href="{{ github_link }}" target="_blank">
                    <code>
                        {{ github_link }}
                        <span class="fas fa-external-link-alt fa-sm text-info mr-2 mt-1"></span>
                    </code>
                </a>
            </div>
        </div>

        <code class="text-lowercase font-weight-bold">{{ in_depth }}</code>
        <hr>
        <div class="py-1 px-4 mb-3">
            <p>{{ in_depth_txt1 }}</p>
            <p>
                {{ in_depth_txt2 }}<span>
                <a href="{% url 'main:maptools' %}" target="_blank" style="text-decoration: none;">
                    {{ in_depth_txt3 }}
                </a></span>
                {{ in_depth_txt4 }}
            </p>
            <p>{{ in_depth_txt5 }}</p>
            <ul style="list-style-type: none;">
                <ul>
                    <li>{{ in_depth_txt6 }}</li>
                    <li>{{ in_depth_txt7 }}</li>
                    <li>{{ in_depth_txt8 }}</li>
                </ul>
            </ul>
            <p>{{ in_depth_txt9 }}</p>

            <p>{{ in_depth_txt14 }}<a href="{{ github_link2 }}"
                                      target="_blank"><code>{{ github_link2_desc }}
                <span class="fas fa-external-link-alt fa-sm text-info mr-2 mt-1"></span></code></a></p></p>
        </div>
        <code class="text-lowercase font-weight-bold">{{ images }}</code>
        <hr>
        <br>
        <div class="col-lg-12">
            <div class="row">
                <div class="col py-1 mb-3">
                    <img class="rounded mx-auto d-block img-fluid mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image1 }}" alt="image1">
                </div>
                <div class="col py-1  mb-3">
                    <img class="rounded mx-auto d-block img-fluid  mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image2 }}" alt="image2">
                </div>
                <div class="col py-1  mb-3">
                    <img class="rounded mx-auto d-block img-fluid mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image3 }}" alt="image3">
                </div>
                <div class="col py-1  mb-3">
                    <img class="rounded mx-auto d-block img-fluid mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image4 }}" alt="image4">
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 py-1 mb-3">
                    <img class="rounded mx-auto d-block img-fluid mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image5 }}" alt="image1">
                </div>
                <div class="col-lg-3 py-1  mb-3">
                    <img class="rounded mx-auto d-block img-fluid  mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image6 }}" alt="image2">
                </div>
                <div class="col-lg-6 py-1  mb-3">
                    <img class="rounded mx-auto d-block img-fluid mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image7 }}" alt="image3">
                </div>
            </div>
        </div>
    <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 py-1 mb-3">
                    <img class="rounded mx-auto d-block img-fluid mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image8 }}" alt="image1">
                </div>
                <div class="col-lg-3 py-1  mb-3">
                    <img class="rounded mx-auto d-block img-fluid  mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image9 }}" alt="image2">
                </div>
                <div class="col-lg-6 py-1  mb-3">
                    <img class="rounded mx-auto d-block img-fluid mb-3 img-thumbnail"
                         src="{{ static_base }}{{ image10 }}" alt="image3">
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12 mt-4 mb-3" style="font-family:'Courier New';">
        <a href="{% url 'main:index' %}" role="button" class="btn btn-outline-dark btn-sm">
            <span class="fas fa-chevron-left"></span>
            home
        </a>
    </div>

{% endblock %}

