{% extends "main/base_boot4_main.html" %}
{% block content %}
    {% load static %}
    {% static "main/" as static_base %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="background-color:transparent;">
                <a href="" style="text-decoration: none">
                    <h3 class="text-justify">{{ title }}</h3></a>
                <br>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ app_desc }}</p>

                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h6>{{ app_goal }}</h6>
                        <p class="card-text">{{ app_goal_txt }}</p>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h6>{{ app_tech }}</h6>
                        <p class="card-text">{{ app_tech_txt }}</p>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h6>{{ data_source }}</h6>
                        <p class="card-text">{{ data_source_txt }}<a href="{{ data_source_link }}">{{ data_source_txt2 }}</a></p>
                    </div>
                </div>

            </div>

            <div class="col-lg-1" style=" background-color:transparent;">

            </div>

            <div class="col-lg-3" style=" background-color:transparent;">
                <div class="row mt-4 mb-5">
                    <a class="btn btn-outline-dark btn-block" href="">
                        {{ app_btn_txt }}
                    </a>
                </div>
                <br>
                <div class="row mt-5">
                    <a href="" title=""
                       style="background-color:transparent;color:#000000;text-decoration:none">
                        <img class="mx-auto d-block img-fluid" src="{{ static_base }}{{ image }}"
                             alt="image" style="background-color:transparent;">
                    </a>
                </div>
            </div>
        </div>


    </div>

{% endblock %}

