<!DOCTYPE html>
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Tracking Service</title>
</head>
<body style="background-color:ivory;font-family: Helvetica, Arial, sans-serif;padding:20px;">

<div style="display: inline;">
    <p style="float:left;margin-left:150px;opacity:50%;">║▌║█║▌│║▌║▌█</p>
    <p style="float:right;margin-right:150px;opacity:50%;">ᒡ◯ᵔ◯ᒢ</p>
    <div style="text-align:center;opacity:50%;">
        <a href="" style="color:#333333 !important; text-decoration: none;font-size: 40px">
            Price Tracking Service
        </a>
    </div>
    <p style="text-align:center;margin-top:40px;font-size: 30px;color:#96281b;">Hi {{ username }}!</p>
    <p style="text-align:center;font-size: 25px;color:#96281b;">
        We have news on a product you are tracking!</p>
    <p style="text-align:center;font-size: 25px;color:#96281b;">

        {% if product_dto.price_diff == 0 %}
            The price has not changed since the last time but you have
            {{ product.dto.duration_left }} tracking days left for this item.
        {% elif product_dto.price_diff > 0 %}
            The price has gone up
            <span style="color:red;padding:15px;margin-right:30px;">
            {{ product_dto.currency }}{{ product_dto.price_diff|floatformat:"2"|intcomma }}
            </span>
        {% else %}
            The price has gone down
            <span style="color:red;padding:15px;margin-right:30px;">
            {{ product_dto.price_diff|floatformat:"2"|intcomma }}
            </span>
        {% endif %}

</div>


<hr style="margin-top:20px;opacity:5%;">

<div style="display:inline;font-size:15px;">
    <p style="display:inline;padding:15px">The product:</p>
    <span style="font-size:15px; color:blue;padding:10px">{{ product_dto.name }}</span>

    <div style="margin-top:15px;">
        <p style="display:inline;padding:15px">Initial price:</p>
        <span style="color:red;padding:15px;margin-right:30px;">{{ product_dto.initial_price }}</span>
        <p style="display:inline;padding:15px">Previous price:</p>
        <span style="color:red;padding:15px;margin-right:30px;">{{ product_dto.previous_price }}</span>
        <p style="display:inline;padding:15px">Current price:</p>
        <span style="color:red;padding:15px;margin-right:30px;">{{ product_dto.current_price }}</span>
        <p style="display:inline;padding:15px;">Currency:</p>
        <span style="font-size:15px; color:red;padding:15px">{{ product_dto.currency }}</span>
    </div>
</div>
<hr style="margin-bottom:20px;opacity:1%;">
<div style="display:inline;font-size:15px;margin-top:15px;">
    <p style="display:inline;padding:15px">Email address:</p>
    <span style="color:darkblue">{{ product_dto.email }}</span>
    <p style="display:inline;padding:15px;">Number of items being tracked for this email address:</p>
    <span style=""><span style="color:darkblue"> {{ product_dto.product_count }}</span>
        <span> out of </span> <span style="color:darkblue"> {{ product_dto.product_max_count }} </span>
        <span> allowed</span></span>
</div>
<hr style="margin-bottom:20px;opacity:1%;">
<div style="display:inline;font-size:15px;margin-top:15px;">
    <p style="display:inline;padding:15px">Start date:</p>
    <span style="color:darkblue">{{ product_dto.start_date }}</span>
    <p style="display:inline;padding:15px">End date:</p>
    <span style="color:darkblue">{{ product_dto.end_date }}</span>
    <p style="display:inline;padding:15px">Tracking duration:</p>
    <span style="color:darkblue">{{ product_dto.duration }}</span>
</div>

<hr style="margin-bottom:20px;opacity:1%;">
<div style="display:inline;font-size:15px;margin-top:15px;">
    <p style="display:inline;padding:15px">Tracking code:</p>
    <span style="color:darkblue">{{ product_dto.track_code }}</span>
    <p style="display:inline;padding:15px">Stop code:</p>
    <span style="color:darkblue">{{ product_dto.stop_code }}</span>
</div>
<hr style="margin-bottom:20px;opacity:1%;">
<div style="display:inline;font-size:15px;margin-top:15px;">
    <p style="display:inline;padding:15px">Upwards threshold:</p>
    <span style="color:darkblue">{{ product_dto.threshold_up }}</span>
    <p style="display:inline;padding:15px">Downwards threshold:</p>
    <span style="color:darkblue">{{ product_dto.threshold_down }}</span>
</div>

<hr style="margin-bottom:40px;opacity:5%;">


<p style="display:inline;padding:10px;font-size:15px;">You are receiving these emails because you subscribed to Price
    Tracking Service
    to track the product described above.</p>

<div style="padding-top:15px;">
    <p style="display:inline;padding:15px;font-size:15px;">You can stop tracking the product and receiving these emails
        at any time by clicking this
        link
        <a href="{{ product_dto.stop_link }}" style="font-size:15px;margin-left:15px;
        text-decoration-line: none;color:#3875d7;">stop tracking</a></p>
    <p style="font-size:15px;margin-left:15px;"> or going to the
        <a href="{{ product_dto.app_link }}" style="text-decoration-line: none;color:#3875d7;">
            Price Tracking Service</a> home page and entering the stop code.
    </p>
</div>

<div style="padding-top:10px;">
    <p style="margin-left:15px;font-size:15px;">
        To check the most recent price movements follow the product link
        <a href="{{ product_dto.track_link }}" style="font-size:15px;margin-left:15px;
            text-decoration-line: none;color:#3875d7;">tracking info</a></p>
    <p style="font-size:15px;margin-left:15px;"> or go to the
        <a href="{{ product_dto.app_link }}" style="margin-right:15px;
            margin-left:15px;text-decoration-line: none;color:#3875d7;">
            Price Tracking Service</a> home page and enter the tracking code.
    </p>
</div>

<p style="text-align:center;margin-top:50px;font-size: 15px;color:#96281b;">Thank you for using Price Tracking
    Service.</p>


</body>
</html>