{% extends "pricecheck/base.html" %}
{% block content %}
    {% load static %}
    {% static "pricecheck/" as static_base %}
    {% load humanize %}

    <div class="container-fluid"
         style="background-image: url('{{ static_base }}{{ back_pattern1 }}');">

        <div class="row" style="font-family: 'Candara Light', Arial, sans-serif;">
            <div class="col-lg-12 mb-5">
                <h1 class="display-4 mt-2 mb-4 text-center">{{ title_main }}</h1>
                <h2 class="text-center"> {{ welcome_text }}</h2>

            </div>

            <div class="col-lg-6" style="font-family: Arial, Helvetica, sans-serif;">
                <h3>First</h3>
                <div>
                    <form id="validate_form" action="#" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="float-left" for="url">
                                <pre>{{ link }}</pre>
                            </label>
                            <input type="text" class="form-control" id="url"
                                   placeholder="enter product url" name="url" required>
                            <div class="valid-feedback">{{ error_1 }}</div>
                            <div class="invalid-feedback">{{ error_2 }}</div>
                        </div>

                        <button type="submit" class="btn btn-outline-dark btn-block">{{ validate_btn }}</button>
                    </form>
                </div>

                <script>
                    $(document).ready(function () {
                        $('#validate_form').submit(function (event) {
                            var formData = {
                                'url': $('input[name=url]').val(),
                            };
                            $.ajax({
                                type: 'POST',
                                url: '{%  url 'pricecheck:validate'  %}',
                                data: formData,
                                dataType: 'json',
                                encode: true
                            })
                                .done(function (data) {
                                    console.log(data);
                                    if (data['status'] === 'ok') {
                                        $("#pr_name").text(data['product_name']);
                                        $("#pr_price").text(data['product_price']);
                                        $("#pr_currency").text(data['product_currency']);
                                        $("#pr_date").text(data['product_date']);
                                        $("#error").css("display", "none");
                                        $("#confirmation").css("display", "unset");
                                        $('#confirm_btn').prop('disabled', false);
                                    } else {
                                        $("#confirmation").css("display", "none");
                                        $("#error").css("display", "unset");
                                        $('#link').val('');
                                        $('#then').prop('disabled', true)
                                    }
                                });
                            event.preventDefault();
                            console.log("form submitted")
                        });
                    });
                </script>

                <div id="error" style="color:red; display:none;" class="p-5 text-center">
                    <h4>No URL detected</h4>
                </div>

                <div id="confirmation" style="display:none;">

                    <div class="mt-2">
                        <p class="pt-2">Product name:</p>
                        <h5 id="pr_name" style="color:blue"></h5>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="pb-1 flex-fill">Currency:</div>
                                <div class="p-0 flex-fill"><h5 id="pr_currency" style="color:red"></h5></div>

                            </div>
                            <div class="col">
                                <div class="pb-1 flex-fill">Product price:</div>
                                <div class="p-0 flex-fill"><h5 id="pr_price" style="color:red"></h5></div>

                            </div>
                            <div class="col">
                                <div class="pb-1 flex-fill">Validation time:</div>
                                <div class="p-0 flex-fill"><h5 id="pr_date" style="color:grey"></h5></div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <p>Is the product name and the price correct?</p>
                        </div>
                        <div class="col-lg-6">
                            <button id="confirm_btn" class="btn btn-outline-dark btn-block"
                                    onclick="
                                        console.log('confirmed:  ' + $('#url').val());
                                        $('#then').prop('disabled', false);
                                        $('#link').val($('#url').val());
                                        $('#link').prop('readonly', true);
                                        $('#confirm_btn').prop('disabled', true);">
                                {{ confirm_btn }}</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-6" style="font-family: Arial, Helvetica, sans-serif;">
                <fieldset id="then" disabled>
                    <h3>Then</h3>
                    <form id="track_form" action="{% url 'main:contact' %}" method="post" class="needs-validation"
                          novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="float-left" for="name">{{ name }}</label>
                            <input type="text" class="form-control" id="name"
                                   placeholder="enter your name" name="name" required>
                            <div class="valid-feedback">{{ error_1 }}</div>
                            <div class="invalid-feedback">{{ error_2 }}</div>
                        </div>
                        <div class="form-group">
                            <label class="float-left" for="email">{{ email }}</label>
                            <input type="email" class="form-control" id="email"
                                   placeholder="enter your email address" name="email" required>
                            <div class="valid-feedback">{{ error_1 }}</div>
                            <div class="invalid-feedback">{{ error_2 }}</div>
                        </div>
                        <div class="form-group">
                            <label class="float-left" for="link">{{ url }}</label>
                            <input type="text" class="form-control" id="link"
                                   placeholder="this will be filled in automatically after validation"
                                   name="link" required>
                            <div class="valid-feedback">{{ error_1 }}</div>
                            <div class="invalid-feedback">{{ error_2 }}</div>
                        </div>
                        <div class="form-group">
                            <p class="">{{ time }}</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radios" id="radio1"
                                       value="option1" checked>
                                <label class="form-check-label" for="radio1">6 hours</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radios" id="radio1"
                                       value="option1">
                                <label class="form-check-label" for="radio1">12 hours</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radios" id="radio1"
                                       value="option1">
                                <label class="form-check-label" for="radio1">1 day</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radios" id="radio1"
                                       value="option1">
                                <label class="form-check-label" for="radio1">2 days</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radios" id="radio2"
                                       value="option2">
                                <label class="form-check-label" for="radio2">5 days</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radios" id="radio3"
                                       value="option3" disabled>
                                <label class="form-check-label" for="radio3">10 days</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radios" id="radio3"
                                       value="option3" disabled>
                                <label class="form-check-label" for="radio3">1 month</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radios" id="radio3"
                                       value="option3" disabled>
                                <label class="form-check-label" for="radio3">3 months</label>
                            </div>
                        </div>
                        <fieldset id="promo" disabled>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <pre class="float-left text-secondary">{{ promo }}</pre>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="promocode"
                                               placeholder="promo code" name="promo">
                                    </div>
                                    <div class="col">
                                        <button id="promo_btn" class="btn btn-outline-secondary btn-block btn-sm"
                                                onclick="
                                                    console.log('promo:  ' + $('#promocode').val());
                                                    $('#promo_btn').prop('disabled', true);">
                                            {{ promo_btn }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group form-check float-left">
                            <input class="form-check-input" type="checkbox" name="terms" required>
                            <span class="">
                            {{ terms }}
                        </span>
                            <div class="valid-feedback">{{ error_1 }}.</div>
                            <div class="invalid-feedback">{{ error_3 }}</div>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-outline-dark btn-block">{{ submit_btn }}</button>
                    </form>
                </fieldset>
            </div>


            <script>

                // csrf_token

                $(function () {

                    // This function gets cookie with a given name
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    var csrftoken = getCookie('csrftoken');

                    /*
                    The functions below will create a header with csrftoken
                    */
                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }

                    function sameOrigin(url) {
                        // test that a given url is a same-origin URL
                        // url could be relative or scheme relative or absolute
                        var host = document.location.host; // host + port
                        var protocol = document.location.protocol;
                        var sr_origin = '//' + host;
                        var origin = protocol + sr_origin;
                        // Allow absolute or scheme relative URLs to same origin
                        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                            // or any other URL that isn't scheme relative or absolute i.e relative.
                            !(/^(\/\/|http:|https:).*/.test(url));
                    }

                    $.ajaxSetup({
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                                // Send the token to same-origin, relative URLs only.
                                // Send the token only if the method warrants CSRF protection
                                // Using the CSRFToken value acquired earlier
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });

                });
            </script>

            <script>
                // Disable form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Get the forms we want to add validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    </div>

{% endblock %}

