{% extends "pricecheck/base.html" %}
{% block content %}
    {% load static %}
    {% static "pricecheck/" as static_base %}
    {% load humanize %}

    <div class="container-fluid"
         style="background-image: url('{{ static_base }}{{ back_pattern1 }}');">

    <div class="row" style="font-family: 'Candara Light', Arial, sans-serif;">
        <div class="col-lg-12 mb-5">
            <h1 class="display-3 mt-5 mb-4 text-center">{{ title_main }}</h1>
            <h2 class="text-center"> {{ welcome_text }}</h2>

        </div>


    </div>




{% endblock %}

