{% extends "snc/base.html" %}
{% load static %}
{% static "snc/" as static_base %}
{% load humanize %}


{#  ----------------------------------- CHARTS --------------------------------------------- #}
{% block content_left %}

    {#    <div id="zoomLevel"></div>#}
    <div id="map-canvas" style='z-index:30;'></div>

    <!-- load geojson charts loader -->
    <div id="loader-box">
        <span id="loader2" class="loader2" style="width: 100%; display:none;"></span>
        <span id="loader3" class="loader3" style="width: 100%; display:none;"></span>
    </div>

    <div id="scale-info-box-index" style='z-index:2000;'>

        <form action="{% url 'snc:charts' %}" method="post" style="">
            {% csrf_token %}
            <div style="border-left: 3px solid #3333cc;">
                <div class="ml-1">
                    <button type="submit" class="btn btn-primary btn-sm py-0 ml-2 mb-2 mt-2"
                            style="font-size: 13px;"
                            onclick="$('#error').hide();
                                $('#loader2').show().delay(5000).hide(0);
                                $('#loader3').delay(5000).show(1).delay(5000).hide(0);">
                        load all charts
                    </button>
                    <i class="far fa-question-circle fa-lg mt-2 ml-1"
                       data-toggle="modal" data-target="#help_load"
                       style="color: blueviolet;cursor:pointer">
                    </i>
                    <p class="ml-1"
                       style="font-size: 12px;color:#333333;text-shadow:#333333;text-align: left; margin-bottom: 5px">
                        then turn layers on/off</p>

                    <input type="hidden" class="form-control" name="zoom" value="{{ map_zoom }}" id="map_zoom">
                    <input type="hidden" class="form-control" name="centre" value="{{ map_centre }}" id="map_centre">
                    {#            <input type="hidden" class="form-control" name="bounds" value="{{ map_bounds }}" id="map_bounds">#}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sc1" name="scale"
                               value="{{ scale1 }}" {{ sc1checked }} disabled>
                        <label class="custom-control-label pt-1" for="sc1">> 1:4,000</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sc2" name="scale"
                               value="{{ scale2 }}" {{ sc2checked }} disabled>
                        <label class="custom-control-label pt-1" for="sc2">1: 4k - 22k</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sc3" name="scale"
                               value="{{ scale3 }}" {{ sc3checked }} disabled>
                        <label class="custom-control-label pt-1" for="sc3">1: 22k - 90k</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sc4" name="scale"
                               value="{{ scale4 }}" {{ sc4checked }} disabled>
                        <label class="custom-control-label pt-1" for="sc4">1: 90k - 1:350k</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sc5" name="scale"
                               value="{{ scale5 }}" {{ sc5checked }} disabled>
                        <label class="custom-control-label pt-1" for="sc5">1: 350k - 1,5M</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sc6" name="scale"
                               value="{{ scale6 }}" {{ sc6checked }} disabled>
                        <label class="custom-control-label pt-1" for="sc6">1: 1,5M - 5M</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sc7" name="scale"
                               value="{{ scale7 }}" {{ sc7checked }} disabled>
                        <label class="custom-control-label pt-1" for="sc7">< 1: 5M</label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- left side help modal - load charts -->
    <div class="modal" id="help_load">
        <div class="modal-dialog modal-sm p-1" style="margin-left:200px;margin-top:70px;">
            <div class="modal-content" style="background-color: #e6ecff">
                <div class="modal-body">
                    <div style="font-size:12px;">
                        <p style="margin-bottom:0px;text-align: center;">
                            Loads all charts from the latest catalogue.
                        </p>
                        <p style="margin-bottom: 8px;text-align: center;">
                            (may takes a second or two)
                        </p>
                        <hr>
                        <p style="margin-bottom: 5px">
                            After the charts are loaded all the scale ranges are turned on but the last two.
                        </p>
                        <ul>
                            <li>{{ scale1 }}</li>
                            <li>{{ scale2 }}</li>
                            <li>{{ scale3 }}</li>
                            <li>{{ scale4 }}</li>
                            <li>{{ scale5 }}</li>
                            <li>{{ scale6 }}</li>
                            <li>{{ scale7 }}</li>
                        </ul>
                        <p style="margin-bottom: 5px">
                            The last two scale ranges are loaded but turned off initially.
                        </p>
                        <p style="margin-bottom: 5px">
                            This is for clarity - large area charts obscure the view of the smaller ones.
                        </p>
                        <p style="margin-bottom: 0px">
                            All the scale ranges can be turned on /off independently.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        document.getElementById('scale-info-box-index').onmouseover = function () {
            document.getElementById('scale-info-box-index').style.opacity = '100';
        };

        let map;
        let infoWindow;

        document.getElementById("scale-info-box-index").style.zIndex = '20000';
        document.getElementById("loader-box").style.zIndex = '20000';

        function initMap() {
            let mapOptions = {
                zoom: {{ map_zoom }},
                center: {{ map_centre }},
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


            let map_zoom, map_centre_lat, map_centre_lon, map_centre, map_bounds;

            google.maps.event.addListener(map, 'idle', function () {

                {#map_bounds = map.getBounds();#}
                map_centre_lat = map.getCenter().lat();
                map_centre_lon = map.getCenter().lng();
                map_centre = '{lat: ' + map_centre_lat + ', lng: ' + map_centre_lon + '}';
                map_zoom = map.getZoom();
                document.getElementById("map_zoom").value = map_zoom;
                document.getElementById("map_centre").value = map_centre;
                {#document.getElementById("map_bounds").value = map_bounds;#}
            });


            infoWindow = new google.maps.InfoWindow();
            let markers = [];

            {% for chart in  charts %}
                <!-- ---------------- chart ---------------- -->
                {#console.log('chart ' + {{ chart.number }});#}

                {% if chart.polygons|length > 0 %}
                    {% for polygon in  chart.polygons %}
                        var chart_{{ chart.number }}_poly_{{ forloop.counter0 }} = new google.maps.Polygon({
                            paths: [
                                {% for position in  polygon.positions %}
                                    new google.maps.LatLng({{ position.lat }}, {{ position.lon }}),
                                {% endfor %}
                            ],
                            {% if chart.number|add:"0" >= 4000 and chart.number|add:"0" < 4026  %}
                                strokeColor: '#003399',
                                strokeOpacity: '0',
                                fillOpacity: '0.1',
                                strokeWeight: '0',
                                strokeDasharray: '',
                                fillColor: '#003399',
                            {% else %}
                                strokeColor: '{{ colour }}',
                                strokeOpacity: '0.8',
                                fillOpacity: '0.1',
                                strokeWeight: '1',
                                strokeDasharray: '-',
                                fillColor: '{{ panel.colour }}',
                            {% endif %}
                            clickable: true,
                            number: '{{ chart.number }}',
                            type: 'chart',
                            name: '{{ chart.title }}',
                            scale: '{{ chart.scale|intcomma }}',
                            zoomMax: '{{ chart.zoom_max }}',
                            zoomMin: '{{ chart.zoom_min }}',
                            map: map,
                            zIndex: '{{ chart.zindex }}'
                        });

                        google.maps.event.addListener(chart_{{ chart.number }}_poly_{{ forloop.counter0 }}, 'click', showInfo);

                        var chart_{{ chart.number }}_marker = new google.maps.Marker({
                            map: map,
                            position: new google.maps.LatLng(
                                {{ chart.label_position.lat }}, {{ chart.label_position.lon }}),
                            icon: " ",
                            draggable: false,
                            clickable: true,
                            visible: true,
                            zoomMax: '{{ chart.zoom_max }}',
                            zoomMin: '{{ chart.zoom_min }}',
                            label: {
                                text: '{{ chart.number }}',
                                color: '{{ chart.colour }}',
                                fontSize: '16px',
                                fontShadow: "6px",
                                fontWeight: "regular"
                            }
                        });
                        markers.push(chart_{{ chart.number }}_marker);
                    {% endfor %}
                {% else %}
                    {# no chart polygon #}
                {% endif %}

                {% if chart.panels|length > 0 %}
                    {% for panel in  chart.panels %}
                        <!-- ---------------- panel ---------------- -->
                        {% for poly in  panel.polygons %}
                            var panel_{{ panel.panel_id }}_of_{{ chart.number }}_poly_{{ forloop.counter0 }}
                                = new google.maps.Polygon({
                                paths: [
                                    {% for pos in  poly.positions %}
                                        new google.maps.LatLng({{ pos.lat }}, {{ pos.lon }}),
                                    {% endfor %}
                                ],
                                clickable: true,
                                {% if chart.number >= 4000 and chart.number < 4026  %}
                                    strokeColor: '#003399',
                                    strokeOpacity: '0',
                                    fillOpacity: '0.1',
                                    strokeWeight: '0',
                                    strokeDasharray: '',
                                    fillColor: '#003399',
                                {% else %}
                                    strokeColor: '{{ colour }}',
                                    strokeOpacity: '0.8',
                                    fillOpacity: '0.1',
                                    strokeWeight: '1',
                                    strokeDasharray: '-',
                                    fillColor: '{{ panel.colour }}',
                                {% endif %}
                                number: '{{ chart.number }} ({{ panel.panel_id }})',
                                type: 'panel',
                                name: '{{ panel.name }}',
                                scale: '{{ panel.scale|intcomma }}',
                                zoomMax: '{{ chart.zoom_max }}',
                                zoomMin: '{{ chart.zoom_min }}',
                                map: map,
                                zIndex: '{{ panel.zindex }}'
                            });

                            google.maps.event.addListener(
                                panel_{{ panel.panel_id }}_of_{{ chart.number }}_poly_{{ forloop.counter0 }}, 'click', showInfo);

                            var marker_{{ panel.panel_id }}_of_{{ chart.number }}_poly
                                = new google.maps.Marker({
                                map: map,
                                position: new google.maps.LatLng(
                                    {{ panel.label_position.lat }}, {{ panel.label_position.lon }}),
                                icon: " ",
                                draggable: false,
                                clickable: true,
                                visible: true,
                                zoomMax: '{{ chart.zoom_max }}',
                                zoomMin: '{{ chart.zoom_min }}',
                                label: {
                                    text: '{{ chart.number }} panel {{ panel.panel_id }}/{{ chart.panels|length }}',
                                    color: '{{ panel.colour }}',
                                    fontSize: '14px',
                                    fontShadow: "6px",
                                    fontWeight: "regular"
                                }
                            });
                            markers.push(marker_{{ panel.panel_id }}_of_{{ chart.number }}_poly);
                        {% endfor %}
                        <!-- ---------------- panel end ---------------- -->
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <!-- ---------------- chart end ---------------- -->
            var polygons = new Array(
                {% for chart in  charts %}
                    {% for poly in  chart.polygons %}
                        chart_{{ chart.number }}_poly_{{ forloop.counter0 }},
                    {% endfor %}
                    {% for panel in  chart.panels %}
                        panel_{{ panel.panel_id }}_of_{{ chart.number }}_poly_0,
                    {% endfor %}
                {% endfor %}
            );

            google.maps.event.addListener(map, 'zoom_changed', function () {
                var zoom = map.getZoom();

                for (i = 0; i < polygons.length; i++) {
                    if (zoom < polygons[i].zoomMin)
                        polygons[i].setMap(null);
                    else if (zoom > polygons[i].zoomMax)
                        polygons[i].setMap(null);
                    else
                        polygons[i].setMap(map);
                }
                for (i = 0; i < markers.length; i++) {

                    if (zoom < markers[i].zoomMin)
                        markers[i].setMap(null);
                    else if (zoom > markers[i].zoomMax)
                        markers[i].setMap(null);
                    else
                        markers[i].setMap(map);
                }
                {#document.getElementById("zoomLevel").innerHTML = 'Zoom Level: ' + zoom;#}
            });

            if (polygons.length > 0) {
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0; i < polygons.length; i++) {
                    var paths = polygons[i].getPaths();

                    paths.forEach(function (path) {
                        var ar = path.getArray();
                        for (var i = 0, l = ar.length; i < l; i++) {
                            bounds.extend(ar[i]);
                        }
                    })
                }
                map.fitBounds(bounds)
                map.setCenter(bounds.getCenter());
            }


            map.addListener('click', () => {
                if (infoWindow) {
                    infoWindow.close();
                }
            });
        }

        function showInfo(event) {
            var vertices = this.getPath();

            var chartInfo = '<b>' + this.number + '</b><br>' +
                '<sup>' + this.type + '</sup><br>' +
                this.name + '</b><br>' +
                '1 : ' + this.scale + '</b><br>';


            infoWindow.setContent(chartInfo);
            infoWindow.setPosition(event.latLng);

            infoWindow.open(map);


        }


    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key_dev_un }}&callback=initMap&libraries=&v=weekly"></script>


{% endblock %}



{#  ----------------------------------- INFO --------------------------------------------- #}
{% block content_right %}
    <div class="ml-2">
        {% if search_multi_ok != '' %}
            <p style="color:navy;font-size:12px; margin-bottom:0px;padding-bottom: 0px">
                {{ search_multi_ok }}
            </p>
        {% else %}
            <p style="color:red;font-size:12px">
                {{ search_multi_error }}
            </p>
            <p style="color:red;font-size:12px">
                {{ search_multi_error1 }}
            </p>
            <p style="color:red;font-size:12px">
                {{ search_multi_error2 }}
            </p>
        {% endif %}
    </div>
    <div class="info_text" style="border-left: darkgrey solid 1px;margin-bottom: 8px;"></div>
    <div id="search" class="scroll-hidden-outer">

    {% if charts|length > 0 %}
        <p class="py-2 mt-0 mb-0" style="font-size: 12px; color:navy;">
            <i class="fas fa-chevron-left" style="color:grey; margin-right:10px;"></i>
            Click on the chart/panel to see a quick info window.
        </p>
    {% endif %}
    {% for chart in  charts %}
        <!-- charts accordion start -->
        <div id="accordion">
        <div class="card bg-transparent" style="border:none;">
            <div class="card-header bg-transparent" style="border:none; margin-top: 0px;padding-top:0px;">
                <a class="card-link panel-heading collapsed" data-toggle="collapse" id="acc_head"
                   data-target="#info_chart_main{{ chart.number }}" aria-expanded="true"
                   aria-controls="info_main"
                   style="text-decoration: none; cursor:pointer;
                               font-size:14px; color:grey;">
                    <i class="fa mr-3" style="font-size:12px;color:grey;" aria-hidden="false"></i>
                    chart
                    <span style="color:navy;">{{ chart.number }}</span>
                    <span style="color:grey;font-size:12px;margin-left:15px"> panels:</span>
                    <span style="color:navy;font-size:12px;">{{ chart.panels|length }}</span>
                    <span style="color:grey;font-size:12px;margin-left:15px"> notices:</span>
                    <span style="color:navy;font-size:12px;">{{ chart.notices|length }}</span>
                </a>
                <hr style="margin-bottom: 0px; margin-top: 0px">

                <div id="info_chart_main{{ chart.number }}" class="collapse" data-parent="#accordion"
                     aria-labelledby="info_main_head" style="color:#96281b;">
                    <div id="charts" class="scroll-hidden-inner" style="font-size:12px;margin-top: 4px;">
                        <p style="margin-bottom: 2px">
                            Chart number:
                            <span style="color:navy;font-size:12px;">
                                        {{ chart.number }}</span>
                        </p>
                        <p style="margin-bottom: 2px">
                            Chart title:
                            <span style="color:navy;font-size:12px;">
                                        {{ chart.title }}</span>
                        </p>
                        {% if chart.scale != '' %}
                            <p style="margin-bottom: 2px">
                                Chart scale:
                                <span style="color:navy;font-size:12px;">
                                        1 : {{ chart.scale|intcomma }}</span>
                            </p>
                        {% else %}
                            <p style="margin-bottom: 2px">
                            Chart scale:
                            <span style="color:navy;font-size:12px;">
                                        no main polygon</span>
                        {% endif %}
                        <p style="margin-bottom: 2px">
                            Status:
                            <span style="color:navy;font-size:12px;">
                                        {{ chart.status }}</span>
                            <span style="color:navy;font-size:12px;">
                                        , {{ chart.status_date }}</span>
                        </p>
                        <p style="margin-bottom: 2px">
                            New edition date:
                            <span style="color:navy;font-size:12px; margin-right:15px;">
                                        {{ chart.new_edition_date }}</span>
                        </p>
                        <p style="margin-bottom: 2px">
                            Last NM number:
                            {% if chart.last_nm_number == '' %}
                                <span style="color:grey;font-size:12px; margin-right:15px;">
                                         none</span>
                            {% else %}
                                <span style="color:navy;font-size:12px; margin-right:15px;">
                                        {{ chart.last_nm_number }}</span>
                            {% endif %}
                        </p>
                        <p style="margin-bottom: 2px">
                            Last NM date (week-year):
                            {% if chart.last_nm_date == '' %}
                                <span style="color:grey;font-size:12px; margin-right:15px;">
                                         none</span>
                            {% else %}
                                <span style="color:navy;font-size:12px; margin-right:15px;">
                                        {{ chart.last_nm_date }}</span>
                            {% endif %}
                        </p>
                        <!-- panels accordion start -->
                        <div>
                            <p style="font-size:13px; color:grey;margin-top:10px;margin-bottom:3px">
                                panels ({{ chart.panels|length }})
                            </p>
                            <hr style="margin-bottom: 3px; margin-top:0px; ">
                            {% if chart.panels|length > 0 %}
                                {% for panel in chart.panels %}
                                    <p style="margin-bottom: 0px">
                                        panel id:
                                        <span style="color:navy;font-size:12px;">
                                                            {{ panel.panel_id }}</span>
                                    </p>
                                    <p style="margin-bottom: 0px">
                                        panel name:
                                        <span style="color:navy;font-size:12px;">
                                                            {{ panel.name }}</span>
                                    </p>
                                    <p style="margin-bottom: 6px">
                                        panel scale:
                                        <span style="color:navy;font-size:12px;">
                                                            1 : {{ panel.scale|intcomma }}</span>
                                    </p>
                                {% endfor %}
                            {% else %}
                                <p style="color:grey;font-size:12px; margin-left:15px;">
                                    none</p>
                            {% endif %}
                            <!-- panels accordion end -->

                            <!-- notices accordion start -->
                            <div>
                                <p style="font-size:13px; color:grey;margin-top:10px;margin-bottom:2px">
                                    notices ({{ chart.notices|length }})
                                </p>
                                <hr style="margin-bottom: 3px; margin-top:0px; ">
                                {% if chart.notices|length > 0 %}
                                    {% for notice in chart.notices %}
                                        <p style="margin-bottom: 2px">

                                            <span style="color:navy;font-size:12px;">
                                                            {{ notice.number }}</span>
                                            , week:
                                            <span style="color:navy;font-size:12px;">
                                                            {{ notice.week }}</span>
                                            <span style="color:grey;font-size:12px;">
                                                , year:</span>
                                            <span style="color:navy;font-size:12px;">
                                                {{ notice.year }}</span>
                                            <span style="color:grey;font-size:12px;">
                                                            / {{ notice.type }}</span>
                                        </p>
                                    {% endfor %}
                                {% else %}
                                    <p style="color:grey;font-size:12px; margin-left:15px;">
                                        none</p>
                                {% endif %}
                            </div>
                            <!-- notices accordion end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

